<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayek Bot</title>
</head>

<body>
    <form id="transliterateForm" enctype="multipart/form-data" method="POST" action="/">
        <textarea name="text" id="text" cols="30" rows="10"
            placeholder="Enter text to transliterate">{{original_text or ''}}</textarea>
        <button type="submit" id="transliterateButton">
            Transliterate
        </button>
        {% if transliterated_text %}
        <textarea id="transliterated" cols="30" rows="10"
            placeholder="Transliterated text">{{transliterated_text}}</textarea>
        {% endif %}
    </form>

</body>

</html>